mqtt:
  host: grafana.local
  port: 1883
  base_topic: energymeter/{name}/consumption

# time in seconds between reads of each channel.
sample_every: 5
adc_addresses:
  - 0x68
  - 0x68
display_address: 0x3C

channels:
  - name: L1
    channel: 1
    bits: 16
    samples: 3 #at 18 bits we can sample with ~3 samples/s
    aggregator: average
    calibration_points:
      - [0, 0]
      - [56535, 50]
    unit: A

  - name: L2
    channel: 2
    bits: 16
    samples: 3
    aggregator: average
    calibration_points:
      - [0, 0]
      - [56535, 50]
    unit: A

  - name: L3
    channel: 3
    bits: 16
    samples: 3
    aggregator: average
    calibration_points:
      - [0, 0]
      - [56535, 50]
    unit: A

  - name: VRms
    channel: 4
    bits: 12 # with 12 bits we should get 240 samples/s so approx. 5 samples per full wave
    samples: 240 # collect samples for 1 second to calculate rms voltage
    aggregator: rms
    calibration_points:
      - [4096, 360]
      - [2048, 0] # half scale since we swing on the negative site
    unit: V

displays:

  - title: "Energieverbrauch"
    type: CurrentPower
    display_time: 5

  - title: "Verbrauch heute"
    type: DailyPower
    display_time: 5

  - title: "Verlauf heute"
    type: PowerHistory
    num_bins: 20
    display_time: 5
