mqtt:
  host: grafana.local
  port: 1883
  messages:
    - topic: "energymeter"
      payload: "{unit},channel={name} value={value}"
    - topic: "energymeter/{name}"
      payload: "{value}"

# time in seconds between reads of each channel.
sample_every: 5
adc_addresses:
  - 0x68
  - 0x69
display_address: 0x3C

channels:
  - name: L1
    channel: 1
    bits: 16
    samples: 3 #at 18 bits we can sample with ~3 samples/s
    aggregator: average
    calibration_points:
      - [0, 0]
      - [4307, 9.31]
    unit: A
    type: current_phase

  - name: L2
    channel: 2
    bits: 16
    samples: 3
    aggregator: average
    calibration_points:
      - [0, 0]
      - [4307, 9.31]
    unit: A
    type: current_phase

  - name: L3
    channel: 3
    bits: 16
    samples: 3
    aggregator: average
    calibration_points:
      - [0, 0]
      - [4307, 9.31]
    unit: A
    type: current_phase

  - name: VRms
    channel: 8
    bits: 14 # with 14 bits we should get 60 samples/s so we avoid always samling at the same time at 50 hZ
    samples: 120 # collect samples for 1 second to calculate rms voltage
    aggregator: rms
    calibration_points:
      - [2048, 332]
      - [1024, 0] # half scale since we swing on the negative site
    unit: V
    type: voltage


  # - name: Wohnzimmer
  #   channel: 5
  #   bits: 12
  #   samples: 3
  #   aggregator: average
  #   calibration_points:
  #     - [0, 0]
  #     - [4096, 50]
  #   unit: A
  #   type: current_other

  # - name: Schlafzimmer
  #   channel: 5
  #   bits: 12
  #   samples: 3
  #   aggregator: average
  #   calibration_points:
  #     - [0, 0]
  #     - [4096, 50]
  #   unit: A
  #   type: current_other

displays:

  - title: Verlauf heute
    type: PowerHistory
    num_bins: 24
    display_time: 10

  - title: Netzspannung
    type: CurrentVoltage
    display_time: 5

  - title: Energieverbrauch
    type: CurrentPower
    display_time: 10

  - title: Verbrauch heute
    type: DailyPower
    display_time: 10

  # - title: Schlafzimmer
  #   type: PowerHistory
  #   num_bins: 24
  #   display_time: 10
  #   channel_name: Schlafzimmer

  # - title: Schlaftimmer
  #   type: DailyPower
  #   display_time: 5
  #   channel_name: Schlafzimmer

  # - title: Wohnzimmer
  #   type: PowerHistory
  #   num_bins: 24
  #   display_time: 10
  #   channel_name: Wohnzimmer

  # - title: Wohnzimmer
  #   type: DailyPower
  #   display_time: 5
  #   channel_name: Wohnzimmer
